<h2>Admin Dashboard</h2>

<button (click)="setTab('A')">Tab A - Approvals</button>
<button (click)="setTab('B')">Tab B - Notice Board</button>
<button (click)="setTab('C')">Tab C - Analytics</button>

<hr>

<!-- TAB A -->

<div *ngIf="activeTab==='A'">

<h3>Pending User Approvals</h3>

<table border="1">

<tr>
<th>Name</th>
<th>Email</th>
<th>Role</th>
<th>Action</th>
</tr>

<tr *ngFor="let user of pendingUsers">

<td>{{user.FirstName}} {{user.LastName}}</td>
<td>{{user.Email}}</td>
<td>{{user.Role}}</td>

<td>

<button (click)="approveUser(user)">Approve</button>

<button (click)="rejectUser(user)">Reject</button>

</td>

</tr>

</table>

</div>

<!-- TAB B -->

<div *ngIf="activeTab==='B'">

<h3>Send Notice</h3>

<input [(ngModel)]="noticeText">

<br><br>

<select [(ngModel)]="selectedReceiver">

<option>All Users</option>

<option *ngFor="let u of allUsers">

{{u.Email}}

</option>

</select>

<br><br>

<button (click)="sendNotice()">Send Notice</button>

<hr>

<h3>Message History</h3>

<table border="1">

<tr>

<th>Sender</th>
<th>Receiver</th>
<th>Message</th>
<th>Time</th>

</tr>

<tr *ngFor="let msg of noticeHistory">

<td>{{msg.sender}}</td>
<td>{{msg.receiver}}</td>
<td>{{msg.message}}</td>
<td>{{msg.timestamp}}</td>

</tr>

</table>

</div>

<!-- TAB C -->

<div *ngIf="activeTab==='C'">

<h3>Dashboard Analytics</h3>

<canvas id="analyticsChart"></canvas>

<br><br>

<table border="1">

<tr>
<th>Total Admins</th>
<th>Total Users</th>
</tr>

<tr>
<td>{{totalAdmins}}</td>
<td>{{totalUsers}}</td>
</tr>

</table>

</div>

<hr>

<button (click)="logout()">Logout</button>