/* BACKGROUND */
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: linear-gradient(120deg, #3f599f, #22c55e);
}

/* MAIN CONTAINER */
.dashboard {
  max-width: 1000px;
  margin: 30px auto;
  padding: 25px;
  background: rgba(255,255,255,0.4);
  border-radius: 12px;
}

/* TABS */
.tabs {
  text-align: center;
  margin-bottom: 20px;
}

.tabs button {
  margin: 0 8px;
  padding: 8px 15px;
  border: none;
  background: #e5e7eb;
  border-radius: 6px;
  cursor: pointer;
}

.tabs button.active {
  background: #3b82f6;
  color: white;
}

/* CARD */
.card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  margin-top: 15px;
}

/* INPUT */
.input-area {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.input-area input {
  flex: 1;
  padding: 8px;
}

.input-area select {
  padding: 8px;
}

/* TABLE */
.table-container {
  max-height: 300px;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background: #f3f4f6;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* BUTTONS */
.approve {
  background: #22c55e;
  color: white;
  border: none;
  padding: 5px 10px;
}

.reject {
  background: #ef4444;
  color: white;
  border: none;
  padding: 5px 10px;
}

/* STATS */
.stats {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.stat-card {
  flex: 1;
  padding: 20px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.blue { background: #3b82f6; }
.green { background: #45d2a3; }
.orange { background: #f59e0b; }

/* CHART */
.chart-box {
  width: 300px;
  margin: auto;
}

/* LOGOUT */
.logout {
  margin-top: 20px;
  background: #ef4444;
  color: white;
  padding: 8px 15px;
  border: none;
}